.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999
}

.quantity {
  margin: 0 10px
}

.nothing-cart-text {
  z-index: 1;
  pointer-events: none
}

.font-size {
  font-size: 1.2rem;
}

.selected-item-styling {
  font-weight: bold;
}
